In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('C:\\Users\\aleks\\Desktop\\courseML\\08-Linear-Regression-Models\\Advertising.csv')
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [7]:
X = df.drop('sales',axis=1)
y = df['sales']
from sklearn.model_selection import train_test_split
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size=0.3, random_state=101)
X_eval, X_test, y_eval, y_test = train_test_split(X_other, y_other, test_size = 0.5, random_state=101)

In [8]:
len(df)

200

In [9]:
len(X_train)

140

In [10]:
len(X_eval)

30

In [13]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_eval = scaler.transform(X_eval)
X_test = scaler.transform(X_test)

In [14]:
from sklearn.linear_model import Ridge
model_1 = Ridge(alpha=100)
model_1.fit(X_train, y_train)

Ridge(alpha=100)

In [15]:
y_eval_pred = model_1.predict(X_eval)

In [16]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_eval_pred, y_eval)

7.320101458823871

In [19]:
model_2 = Ridge(alpha=1)
model_2.fit(X_train, y_train)
y_eval_pred_2 = model_2.predict(X_eval)
mean_squared_error(y_eval_pred_2,y_eval)

2.3837830750569853

In [22]:
final_pred = model_2.predict(X_test)
mean_squared_error(final_pred, y_test)

2.254260083800517